<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="../css/job.css">
    <div th:replace="~{common/header::scriptbar}"></div>

    <style>
        .bgpic {
            background: url("http://p3.qhimg.com/bdr/__85/t0172ac83f1016ca2cb.jpg");
            position: fixed;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            filter: blur(3px); /*虚化功能*/
            background-size: cover;
        }
    </style>
</head>
<body data-ext-version="3.1" >
<div class="odm_extension image_downloader_wrapper"><!----></div>
<div id="login" style="display: block;">


    <div class="pasttwo" style="">
        <div class="l-logo l-top" style="margin-top:25px;">
            <span style="font-size:32px;font-weight: bold;color: #666;position: relative;top:30px;">学相伴登录</span>
        </div>
        <div class="login-input i-pone">
            <input type="text" id="nickname" value="admin" class="Phone-code-inp" placeholder="请输入账号">
            <span class="l-yes" style="display:none;">✔</span>
        </div>
        <div class="login-input i-pone">
            <input type="password" id="password" value="12345" class="Phone-code-inp" placeholder="请输入密码">
            <span class="l-yes" style="display:none;">✔</span>
        </div>
        <div class="htiao" style="display:none">
            <div class="login-input phone-info"><input type="text" class="Veri-code-inp" placeholder="短信验证码">
                <span class="l-yes" style="display:none">✔</span>
            </div>
            <a class="get-yzm">获取短信验证码</a>
        </div>
        <div class="htia" id="kuangmessage" style="display: none">
            <span class="l-no ">X</span><span class="msg"></span>

        </div>
        <a href="javascript:;" id="kuang-tologin" onkeydown="EnterCheck()" class="alert-phone-longin loginname">登录</a>

        <div class="diff-login">
            <a href="javascript:;" class="phone-longin  wx-login" type="2">
                &lt; QQ微信<span class="loginname">登录</span>
            </a>
            <a href="javascript:;" class="l-deal">注册或点击登录代表您同意《学相伴用户协议》</a>
        </div>
    </div>
    <div class="l-left">
        <div class="title">欢迎来到学相伴</div>
        <ul>
            <li><i class="i1"></i>海量精品文章，满足您的需求</li>
            <li><i class="i2"></i>实用易修改，提升您的效率</li>
            <li><i class="i3"></i>高质量精品热点内容每日更新</li>
            <li><i class="i4"></i>专业客服接待，及时解决问题</li>
        </ul>
    </div>
</div>
<div class="bgpic"></div>
<div class="loginifarmeid" style="display: none">1</div>

</body>

</html>