<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>我的购物车-小米商城</title>
    <link href="../css/main.css" rel="stylesheet"/>
</head>
<body>
<div id="app">

    <div class="mi-cart page-main">
        <div class="container">
            <div class="cart-container">
                <div class="container-main">
                    <div class="cart-wrap">
                        <div class="cart-goods-list">
                            <div class="list-head clearfix">
                                <div><h1>{{title}}</h1></div>
                                <div class="col col-check">
                                    <i class="iconfont icon-checkbox">√</i>全选
                                </div>
                                <div class="col col-img">
                                    &nbsp;
                                </div>
                                <div class="col col-name">
                                    商品名称
                                </div>
                                <div class="col col-price">
                                    单价
                                </div>
                                <div class="col col-num">
                                    数量
                                </div>
                                <div class="col col-total">
                                    小计
                                </div>
                                <div class="col col-action">
                                    操作
                                </div>
                            </div>
                            <div class="list-body">
                                <div class="list-item" v-for="(item,index) in resultList">
                                    <div class="item-box">
                                        <div class="item-table">
                                            <div class="item-row clearfix">
                                                <div class="col col-check">
                                                    <i class="iconfont icon-checkbox icon-checkbox">√</i>
                                                </div>
                                                <div class="col col-img">
                                                    <a href="javascript:void(0)"><img alt=""
                                                                                      :src="item.productimg"
                                                                                      width="80" height="80"/></a>
                                                </div>
                                                <div class="col col-name">
                                                    <div class="tags"></div>
                                                    <div class="tags"></div>
                                                    <h3 class="name"><a
                                                            href="javascript:void(0)">{{item.producttitle}}</a>
                                                    </h3>
                                                </div>
                                                <div class="col col-price">
                                                    {{item.productprice}}元
                                                    <p class="pre-info"></p>
                                                </div>


                                                <div class="col col-num">
                                                    <div class="change-goods-num clearfix">
                                                        <a href="javascript:void(0)" @click="itemmiss(index)"><i
                                                                class="iconfont"></i></a>
                                                        <input type="text" autocomplete="off" v-model="item.productnum"
                                                               class="goods-num"/>
                                                        <a href="javascript:void(0)" @click="itemNumAdd(index)"><i
                                                                class="iconfont"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col col-total">
                                                    {{item.productnum * item.productprice}}元
                                                    <p class="pre-info"></p>
                                                </div>
                                                <div class="col col-action">
                                                    <a href="javascript:void(0);" @click="itemdel(index)" title="删除"
                                                       class="del"><i
                                                            class="iconfont"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="raise-buy-box"></div>
                        <div class="cart-bar clearfix cart-bar-fixed">
                            <div class="section-left">
                                <a href="//www.mi.com/0" class="back-shopping">继续购物</a>
                                <span class="cart-total">共 <i>2</i> 件商品，已选择 <i>0</i>件</span>
                            </div>
                            <span class="total-price">合计：<em>{{itemToltal}}</em>元<a href="javascript:void(0);"
                                                                                    class="btn btn-a btn-disabled">去结算</a></span>
                            <div class="no-select-tip">
                                请勾选需要结算的商品
                                <i class="arrow arrow-a"></i>
                                <i class="arrow arrow-b"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../js/vue.min.js"></script>
<script src="../js/axios.min.js"></script>

<script>
    var vm = new Vue({
        el: "#app",
        data: {
            title: "我的购物车",
            // 模拟飞哥的购物车
            userid: 1,
            // 购物车总计
            totalPrice: 0,
            // 购物车商品的数量
            // totalCount: 0,
            // 购物车商品的数据
            resultList: []
        },
        //钩子函数初始化完vm对象立马调用
        created() {

            this.loadInitData()
        },
        methods: {
            loadInitData() {
                // 异步请求渲染数据
                axios.post('/shopcart/list?userid=' + this.userid).then((res) => {
                    this.totalPrice = res.data.data.totalPrice
                    this.totalCount = res.data.data.totalCount
                    this.resultList = res.data.data.resultList
                    // console.log(res.data.data)
                })


            },
            // 商品数量修改
            itemNumAdd(index) {
                this.resultList[index].productnum++;


            },
            // 商品数量减少
            itemmiss(index) {
                this.resultList[index].productnum--;

            },

            // 异步删除数据 并实时渲染到页面
            itemdel(index) {
                // 商品id
                let productid = this.resultList[index].productid
                axios.post('/shopcart/del?userid=' + this.userid + "&productid=" + productid).then((res) => {
                    console.log(res)
                    if (res.data.data === 'succ') {
                        console.log(index)
                        var xx = this.resultList.splice(index, 1)

                    }
                })

            }

        },

        // 计算属性
        computed: {
            // 实时计算当前商品的总金额
            itemToltal() {
                let total = 0
                for (let i = 0; i < this.resultList.length; i++) {
                    let items = this.resultList[i]
                    total += items.productnum * items.productprice

                }
                return total

            }


        }


    })


</script>
</html>