<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>我的购物车-小米商城</title>
    <link href="../css/main.css" rel="stylesheet"/>
</head>
<body>
<div id="app">
    <div class="mi-cart page-main">
        <div class="container">
            <div class="cart-container">
                <div class="container-main">
                    <div class="cart-wrap">
                        <div class="cart-goods-list">
                            <div class="list-head clearfix">
                                <div class="col col-check">
                                    <i class="iconfont icon-checkbox">√</i>全选
                                </div>
                                <div class="col col-img">
                                    &nbsp;
                                </div>
                                <div class="col col-name">
                                    商品名称
                                </div>
                                <div class="col col-price">
                                    单价
                                </div>
                                <div class="col col-num">
                                    数量
                                </div>
                                <div class="col col-total">
                                    小计
                                </div>
                                <div class="col col-action">
                                    操作
                                </div>
                            </div>
                            <div class="list-body">
                                <div class="list-item">
                                    <div class="item-box">
                                        <div class="item-table">
                                            <div class="item-row clearfix">
                                                <div class="col col-check">
                                                    <i class="iconfont icon-checkbox icon-checkbox">√</i>
                                                </div>
                                                <div class="col col-img">
                                                    <a href="javascript:void(0)"><img alt=""
                                                                                      src="//cdn.cnbj0.fds.api.mi-img.com/b2c-shopapi-pms/pms_1540808799.00378416.jpg?thumb=1&amp;w=80&amp;h=80"
                                                                                      width="80" height="80"/></a>
                                                </div>
                                                <div class="col col-name">
                                                    <div class="tags"></div>
                                                    <div class="tags"></div>
                                                    <h3 class="name"><a href="javascript:void(0)">小米蓝牙项圈耳机 青春版 黑色</a>
                                                    </h3>
                                                </div>
                                                <div class="col col-price">
                                                    149元
                                                    <p class="pre-info"></p>
                                                </div>
                                                <div class="col col-num">
                                                    <div class="change-goods-num clearfix">
                                                        <a href="javascript:void(0)"><i class="iconfont"></i></a>
                                                        <input type="text" autocomplete="off" class="goods-num"/>
                                                        <a href="javascript:void(0)"><i class="iconfont"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col col-total">
                                                    149元
                                                    <p class="pre-info"></p>
                                                </div>
                                                <div class="col col-action">
                                                    <a href="javascript:void(0);" title="删除" class="del"><i
                                                            class="iconfont"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="list-item">
                                    <div class="item-box">
                                        <div class="item-table">
                                            <div class="item-row clearfix">
                                                <div class="col col-check">
                                                    <i class="iconfont icon-checkbox icon-checkbox">√</i>
                                                </div>
                                                <div class="col col-img">
                                                    <a href="javascript:void(0)"><img alt=""
                                                                                      src="//cdn.cnbj0.fds.api.mi-img.com/b2c-shopapi-pms/pms_1525317107.95571913.jpg?thumb=1&amp;w=80&amp;h=80"
                                                                                      width="80" height="80"/></a>
                                                </div>
                                                <div class="col col-name">
                                                    <div class="tags"></div>
                                                    <div class="tags"></div>
                                                    <h3 class="name"><a href="javascript:void(0)">小米净水器滤芯 前置活性炭 白色</a>
                                                    </h3>
                                                </div>
                                                <div class="col col-price">
                                                    69元
                                                    <p class="pre-info"></p>
                                                </div>
                                                <div class="col col-num">
                                                    <div class="change-goods-num clearfix">
                                                        <a href="javascript:void(0)"><i class="iconfont"></i></a>
                                                        <input type="text" autocomplete="off" class="goods-num"/>
                                                        <a href="javascript:void(0)"><i class="iconfont"></i></a>
                                                    </div>
                                                </div>
                                                <div class="col col-total">
                                                    69元
                                                    <p class="pre-info"></p>
                                                </div>
                                                <div class="col col-action">
                                                    <a href="javascript:void(0);" title="删除" class="del"><i
                                                            class="iconfont"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="raise-buy-box"></div>
                        <div class="cart-bar clearfix cart-bar-fixed">
                            <div class="section-left">
                                <a href="//www.mi.com/0" class="back-shopping">继续购物</a>
                                <span class="cart-total">共 <i>2</i> 件商品，已选择 <i>0</i>件</span>
                            </div>
                            <span class="total-price">合计：<em>0</em>元<a href="javascript:void(0);"
                                                                       class="btn btn-a btn-disabled">去结算</a></span>
                            <div class="no-select-tip">
                                请勾选需要结算的商品
                                <i class="arrow arrow-a"></i>
                                <i class="arrow arrow-b"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<script src="../js/vue.min.js"></script>
<script src="../js/axios.min.js"></script>

<script>
    var vue = new Vue({
        el:"#app",
        data:{
            title:"学相伴购物车",
            // 模拟飞哥的购物车
            userid:1,
            // 购物车总计
            //totalPrice:0,
            // 购物车商品的数量
            totalCount:0,
            // 购物车商品的数据
            resultList:[]
        }})

</script>
</html>