html{height:100%;}
body{min-height:100%;display:flex;flex-direction:column;}
.ksd-main{flex:1;padding-bottom:20px;}
.layui-layer-dialog .layui-layer-btn{text-align:center!important;}
.ksd-layui-search-form-select{display:inline-block;border:1px solid #eee;padding:7px 8px;}
input[readonly],input[disabled]{background:#fbfbfb;}
.links-items{border:1px dotted #eee;margin:5px 0;padding:10px;cursor:pointer}
.links-items:hover{background:#eee;}
.ksd_root_items{background:#f8f8f8;cursor:pointer}
.ksd_child_items .c-title{padding-left:30px;}
.ksd_child_items .c-sort{padding-left:30px;}
.ksd-display-block{display:none}
.layui-table-cell input{height:28px!important;}
.selected-border-right{display:none}
.mp-menu-wrapper{position:relative;}
.mp-menu-wrapper .active{color:#009688;font-weight:bold}
.byte-layout-sider{position:fixed;z-index:100}
.ksd-icon-sp{color:#999;}
.ksd-icon-sp.active{color:#009688;}
.mp-menu-wrapper .active .ksd-icon-sp{color:#009688;}
.mp-menu-wrapper.expand .iconfont{position:absolute;top:1px;right:2px;z-index:1}
.mp-menu-wrapper.expand .byte-menu-icon-suffix{display:none}
.mp-menu-wrapper.expand .selected-border-right{display:block;font-size:14px!important;}
@media screen and (min-width:1980px){.ksd-display-block{display:table-cell}
}
.ksd-chapter-box{padding:40px;}
.ksd-chapter-box .chapter{position:relative;overflow:hidden;padding:25px 0 20px 0;cursor:pointer;z-index:2;vertical-align:middle;border:2px solid rgba(28,31,33,.1);margin-bottom:10px;}
.ksd-chapter-box .chapter-ul-children .chapter{background:#fff;padding:22px 0 10px 0;}
.ksd-chapter-box .chapter-ul-children .chapter:hover{border:2px solid #ff5722;}
.ksd-chapter-box .ksd-sort-input{width:80px;position:absolute;top:25px;right:25px;}
/*.ksd-chapter-box .chapter .ksd-chapter-buttons{display:none}
*/
/*.ksd-chapter-box .chapter:hover .ksd-chapter-buttons{display:inline-block}
*/
.ksd-chapter-buttons{position:absolute;top:5px;right:125px;}
.ksd-chapter-buttons-c{position:absolute;top:25px;right:125px;}
/*.ksd-chapter-buttons-c a{margin:0 10px;display:none}
*/
/*.ksd-chapter-box .chapter-ul-children .chapter:hover .ksd-chapter-buttons-c a{display:inline-block}
*/
.ksd-chapter-box .chapter:hover{border:2px solid #009688;}
.ksd-chapter-box .chapter .chapter-icon{float:left;font-size:36px;color:#93999f;margin:5px 24px 0 12px;}
.ksd-chapter-box .chapter .chapter-bd{position:relative;float:none;}
.ksd-chapter-box .chapter .chapter-bd .name{font-weight:700;font-size:16px;color:#666;margin-bottom:8px;}
.ksd-chapter-box .chapter .chapter-bd .name input{color:#333;font-size:14px;font-weight:400;}
.ksd-chapter-box .chapter .chapter-bd .name .watch-free{margin-left:20px;padding:4px 12px;font-size:12px;background:rgba(242,13,13,.1);border-radius:12px;color:#f20d0d;font-weight:700;}
.ksd-chapter-box .chapter.ksd-chapter-selected,.ksd-chapter-box .chapter-ul-children .chapter.ksd-video-selected{background:#eee;}
.layui-tab-title{height:60px!important;}
.layui-tab-title li{line-height:60px;line-height:60px;}
.layui-tab-title .layui-this:after{height:60px;}
.layui-tab-card > .layui-tab-title .layui-this{font-weight:bold;font-size:16px;padding:0 25px;}


body{background: #f9f9f9!important}
.ksd-main{width: 92%;margin: 0 auto;}
.mp-main-contain{overflow:hidden}
.pgc-content{overflow-x: hidden}
.navbar .container{width: 94%!important;max-width: 94% !important}
.byte-layout-sider-light{box-shadow:none!important;position: relative!important;float: left;}
