<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>

<div th:fragment="foterbar">


    <footer class="blog-footer">
        <p>
            <a href="/bbs/1324194891442282498">关于我们</a>
            <span>|</span>
            <a href="/bbs/1324205709382770689">加入我们</a>
            <span>|</span>
            <a href="/bbs/1324199621287600130">联系我们</a>
            <span>|</span>
            <a href="javascript:void(0);" id="ksd-help" onclick="help()">帮助中心</a>
        </p>
        <p><span>Copyright © 广东学相伴网络科技有限公司 </span>
            <a href="http://beian.miit.gov.cn/" target="_blank">粤ICP备 - 2020109190号 </a>
        </p>
    </footer>
    <ul class="layui-fixbar">
        <li class="layui-icon layui-fixbar-top" lay-type="top" style="display: list-item;"></li>
    </ul>
    <div id="UDBSdkLgn">
        <div id="UDBSdkLgn-mask"></div>
        <div id="UDBSdkLgn-box" class="animated2 bounceInDown" style="height: 460px;">
            <div class="udb-wrap">
                <a href="javascript:void(0);" class="loginclose" title="关闭" id="close-udbLogin"><i
                        class="iconfont iconremove1"></i></a>
                <div class="input-login-wrap login-digla login-wrap" style="" id="input-login-wrap">
                    <div class="login-content" style="padding-top:20px;">
                        <div class="wx-qr-content ksd-weixin-content" style="display: block;">
                            <div class="wx-qr-code">
                                <div class="wx-qr-code-img" style="margin:40px 0 10px;">
                                    <div class="img" id="wx-qr-code-imgbox"></div>
                                    <div class="loadtipweixin"
                                         style="position: relative; height: 26px; line-height: 26px; display: none;">
                                        <span style="font-size: 18px;font-weight: bold;color:#1E9FFF;">正在登录，请稍后...</span>
                                    </div>
                                </div>
                                <div class="form-bottom" style="margin-top:10px;">
                                    <p class="weixin-text">
                                        <a class="weixin-login ksd-login" data-index="1" href="javascript:void(0);">账号登录</a>
                                    </p>
                                </div>
                                <div class="form-bottom" style="margin:35px 0 0 ">
                                    <p class="weixin-text fz12" style="color: gray">登录即代表你同意
                                        <a href="https://www.kuangstudy.com/bbs/1324277936014766081" target="_blank"
                                           style="padding:0 2px;color: #111;text-decoration: underline;font-size:12px;">用户协议</a>和
                                        <a target="_blank" href="https://www.kuangstudy.com/bbs/1324272431531831298"
                                           style="font-size:12px;padding:0 2px;color: #111;text-decoration: underline;">隐私政策</a>
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="phone-content ksd-weixin-content" style="display: none">
                            <div class="login-title">账号登录</div>
                            <div class="form-login">
                                <div class="usernameBox">
                                    <input type="text" class="cyinput1 form-control ksd-account-phone" autofocus="autofocus"
                                           maxlength="20" placeholder="请输入手机号 或 用户数字编号 登录">
                                </div>
                                <div class="usernameBox">
                                    <input type="password" class="cyinput1 form-control ksd-account-pwd" maxlength="18"
                                           placeholder="请输入6-18位密码">
                                </div>
                                <button class="cymyloginbutton goLogin account-login">登录</button>
                                <div class="form-bottom" style="margin:20px 0">
                                    <p class="weixin-text">
                                        <a class="weixin-login ksd-login" data-index="0" href="javascript:void(0);">微信扫描注册/登录</a>
                                    </p>
                                </div>
                                <div class="form-bottom" style="margin:20px 0">
                                    <p class="weixin-text fz12" style="color: gray">登录即代表你同意
                                        <a target="_blank" href="https://www.kuangstudy.com/bbs/1324277936014766081"
                                           style="padding:0 2px;color: #111;text-decoration: underline;font-size:12px;">用户协议</a>和
                                        <a href="https://www.kuangstudy.com/bbs/1324272431531831298" target="_blank"
                                           style="font-size:12px;padding:0 2px;color: #111;text-decoration: underline;">隐私政策</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>